body
{
	font-family:Book Antiqua;
}
.login
{
	float: left;
    padding-right: 40px;
}
.registration a
{
	color: black;
}
.login-resgistration
{
	top: 25px;
}
.drop-option
{ 
	background-color: #F5F6F9;
	padding-bottom: 20px;
	border-bottom: 1px solid #eee;
}
.drop-option li:hover
{
	background-color: red;
	color: #FFF;
}
.drop-option li {
    list-style-type: none;
    float: left;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 30px;
    background-color: #FFF;
    color: #f4425c}
.select
{
	height: 40px;
}
.btn-create:hover
{
	background-color: #f4425c;;
	border-color: none;
}
.btn-create:click
{
	background-color: #dc659b;
	border-color: none;
}
.btn-create {
    background-color: #dc659b;
    margin-top: 10px;
    width: 140px;
    padding: 10px 20px;
}
.btn-create:active
{
	background-color: #dc659b;
	border-color: none;
}
.content
{
	background-color: #F5F6F9;
}
.card-tpl
{
	
}
.card-tpl-preview
{
	position: relative;
}
.card-tpl-preview:hover 
{
	background-color: red
}
.card-name {
    color: #f4425c;
    font-size: 20px;
    width: 100%;
    text-align: center;
    top: 50%;
    padding: 16px;
}
.card-tpl-preview img {
    width: 100%;
    height: 200px;
    background-color: #3e3e3e;
    background-image: none;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
    overflow: hidden;
    border-radius: 6px;
}
.card-tpl-preview:hover .card-txtselect
{
	display: block;
	background-color: rgba(0,0,0,.75);
	width: 100%;
	height: 100%;
	font-weight: 100;
	border-radius: 6px;
}
.card-txtselect
{
	
	display: none;
	top: 0px;
	text-align: center;
	padding-top: 25%;
	font-size: 25px;
	 position: absolute;
    color: #FFF;
    font-weight: 100;

}
.clear
{
	clear: both;
}